{{ header }}

{# Разделенная микроразметка Schema.org для страницы автора #}
{% if microdata %}
    {% for key, schema_block in microdata %}
    <script type="application/ld+json">
    {{ schema_block|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_PRETTY_PRINT')) }}
    </script>
    {% endfor %}
{% endif %}

<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li>
      {% if breadcrumb.href %}
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      {% else %}
        {{ breadcrumb.text }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="author-profile">
        <div class="row">
          <div class="col-sm-3">
            <img src="{{ image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-responsive" />
            
            {# Блок социальных сетей #}
            {% if website or email or github or telegram or vk or facebook or twitter or instagram or linkedin or youtube %}
            <div class="author-social-links" style="margin-top: 20px;">
              <h4>Контакты</h4>
              <div class="list-group">
                {% if website %}
                <a href="{{ website }}" target="_blank" class="list-group-item">
                  <i class="fa fa-globe"></i> Веб-сайт
                </a>
                {% endif %}
                {% if email %}
                <a href="mailto:{{ email }}" class="list-group-item">
                  <i class="fa fa-envelope"></i> Email
                </a>
                {% endif %}
                {% if github %}
                <a href="{{ github }}" target="_blank" class="list-group-item">
                  <i class="fa fa-github"></i> GitHub
                </a>
                {% endif %}
                {% if telegram %}
                <a href="{{ telegram }}" target="_blank" class="list-group-item">
                  <i class="fa fa-telegram"></i> Telegram
                </a>
                {% endif %}
                {% if vk %}
                <a href="{{ vk }}" target="_blank" class="list-group-item">
                  <i class="fa fa-vk"></i> ВКонтакте
                </a>
                {% endif %}
                {% if facebook %}
                <a href="{{ facebook }}" target="_blank" class="list-group-item">
                  <i class="fa fa-facebook"></i> Facebook
                </a>
                {% endif %}
                {% if twitter %}
                <a href="{{ twitter }}" target="_blank" class="list-group-item">
                  <i class="fa fa-twitter"></i> Twitter
                </a>
                {% endif %}
                {% if instagram %}
                <a href="{{ instagram }}" target="_blank" class="list-group-item">
                  <i class="fa fa-instagram"></i> Instagram
                </a>
                {% endif %}
                {% if linkedin %}
                <a href="{{ linkedin }}" target="_blank" class="list-group-item">
                  <i class="fa fa-linkedin"></i> LinkedIn
                </a>
                {% endif %}
                {% if youtube %}
                <a href="{{ youtube }}" target="_blank" class="list-group-item">
                  <i class="fa fa-youtube"></i> YouTube
                </a>
                {% endif %}
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-sm-9">
            <h1>{{ heading_title }}</h1>
            {% if job_title %}
            <p class="job-title"><strong>{{ job_title }}</strong></p>
            {% endif %}
            {% if bio %}
            <div class="bio">{{ bio }}</div>
            {% endif %}
            {% if description %}
            <div class="description">{{ description }}</div>
            {% endif %}
          </div>
        </div>
      </div>
      
      <h2>{{ text_articles_by_author }}</h2>
      {% if articles %}
      <div class="row author-articles">
        {% for article in articles %}
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="article-thumb">
            <div class="image">
              <a href="{{ article.href }}">
                <img src="{{ article.thumb }}" alt="{{ article.title }}" title="{{ article.title }}" class="img-responsive" />
              </a>
            </div>
            <div class="caption">
              <h4><a href="{{ article.href }}">{{ article.title }}</a></h4>
              <p class="description">{{ article.description }}</p>
              <div class="article-meta">
                <span class="date">{{ article.date_added }}</span>
                {% if article.viewed %}
                <span><i class="fa fa-eye"></i> {{ article.viewed }} {{ text_views }}</span>
                {% endif %}
                {% if article.reading_time %}
                <span><i class="fa fa-clock-o"></i> {{ article.reading_time }} {{ text_reading_time }}</span>
                {% endif %}
                <a href="{{ article.href }}" class="btn btn-primary pull-right">{{ button_read_more }}</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_no_articles }}</p>
      {% endif %}
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}