{{ header }}

{# Микроразметка Schema.org #}
{% if json_ld %}
    {% for key, ld_item in json_ld %}
    <script type="application/ld+json">
    {{ ld_item|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_PRETTY_PRINT')) }}
    </script>
    {% endfor %}
{% endif %}

<div id="information-blog-category" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li>
      {% if breadcrumb.href %}
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      {% else %}
        {{ breadcrumb.text }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      
      {# Страница авторов #}
      {% if authors is defined %}
        <h1>{{ heading_title }}</h1>
        
        {% if authors %}
        <div class="authors-list">
          <div class="row">
            {% for author in authors %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="author-card">
                <div class="author-image">
                  <img src="{{ author.image }}" alt="{{ author.name }}">
                </div>
                <h3>
                  <a href="{{ author.href }}">{{ author.name }}</a>
                </h3>
                {% if author.job_title %}
                <p class="author-job-title">{{ author.job_title }}</p>
                {% endif %}
                {% if author.bio %}
                <p class="author-bio">{{ author.bio }}</p>
                {% endif %}
                <div class="author-stats">
                  <span class="badge">{{ author.total_articles }} {{ text_articles_count }}</span>
                </div>
                <a href="{{ author.href }}" class="btn btn-primary">{{ button_view_author }}</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% else %}
        <div class="alert alert-info">
          <p>{{ text_no_authors }}</p>
        </div>
        {% endif %}
      
      {# Страница категорий блога #}
      {% else %}
        <h1>{{ heading_title }}</h1>
        
        {% if thumb %}
        <div class="blog-category-image">
          <img src="{{ thumb }}" alt="{{ heading_title }}" class="img-responsive">
        </div>
        {% endif %}
        
        {% if description %}
        <div class="blog-category-description">{{ description }}</div>
        {% endif %}

        {# Подкатегории #}
        {% if subcategories %}
        <div class="blog-subcategories">
          <h3>{{ text_subcategories }}</h3>
          <div class="row">
            {% for subcategory in subcategories %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
              <div class="subcategory-item text-center">
                <h4><a href="{{ subcategory.href }}">{{ subcategory.name }}</a></h4>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        {# Главная страница блога #}
        {% if root_categories and not blog_category_id %}
        <div class="blog-root-categories">
          <div class="row">
            {% for category in root_categories %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-item text-center">
                <h3><a href="{{ category.href }}">{{ category.name }}</a></h3>
              </div>
            </div>
            {% endfor %}
            
            {# Карточка авторов #}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
              <div class="category-item authors-card text-center">
                <h3>
                  <a href="{{ authors_link }}">
                    <i class="fa fa-users"></i>{{ text_authors }}
                  </a>
                </h3>
                <p>{{ text_authors_description }}</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {# Статьи #}
        {% if articles %}
        <div class="blog-articles">
          {% if blog_category_id %}
          <h2>{{ text_articles_in_category }}</h2>
          {% endif %}
          <div class="row">
            {% for article in articles %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" itemscope itemtype="https://schema.org/{{ article.schema_type }}">
              <div class="blog-item">
                <div class="blog-image">
                  <a href="{{ article.href }}" itemprop="url">
                    <img src="{{ article.image }}" alt="{{ article.title }}" class="img-responsive" itemprop="image">
                  </a>
                </div>
                <div class="blog-info">
                  <h4 itemprop="{{ article.schema_type == 'Organization' ? 'name' : 'headline' }}">
                    <a href="{{ article.href }}" itemprop="url">{{ article.title }}</a>
                  </h4>
                  <div class="blog-meta">
                    {% if article.schema_type != 'Organization' %}
                    <span>
                      <i class="fa fa-calendar"></i> 
                      <time datetime="{{ article.date_added_iso }}" itemprop="datePublished">{{ article.date_added }}</time>
                    </span>
                    {% endif %}
                    <span>
                      <i class="fa fa-eye"></i> {{ article.viewed }} {{ text_views }}
                    </span>
                    <span>
                      <i class="fa fa-clock-o"></i> {{ article.reading_time }} {{ text_reading_time }}
                    </span>
                  </div>
                  <p class="blog-description" itemprop="description">
                    {{ article.description }}
                  </p>
                  
                  {# Авторы #}
                  {% if article.authors and article.schema_type != 'Review' and article.schema_type != 'Organization' %}
                  <div class="blog-authors">
                    <i class="fa fa-user"></i> 
                    {% for author in article.authors %}
                      <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">{{ author }}</span>
                      </span>
                      {% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </div>
                  {% endif %}
                  
                  {# Рейтинг для обзоров #}
                  {% if article.schema_type == 'Review' and article.rating_value %}
                  <div class="blog-rating">
                    <div itemprop="reviewRating" itemscope itemtype="https://schema.org/Rating">
                      <meta itemprop="ratingValue" content="{{ article.rating_value }}">
                      <meta itemprop="bestRating" content="5">
                      <div>
                        {% for i in 1..5 %}
                          {% if i <= article.rating_value %}
                            <i class="fa fa-star"></i>
                          {% else %}
                            <i class="fa fa-star-o"></i>
                          {% endif %}
                        {% endfor %}
                        <span>({{ article.rating_value }})</span>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  
                  <a href="{{ article.href }}" class="btn btn-primary" itemprop="url">{{ button_read_more }}</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          
          {# Пагинация #}
          <div class="row">
            <div class="col-sm-6 text-left">{{ pagination }}</div>
            <div class="col-sm-6 text-right">{{ results }}</div>
          </div>
        </div>
        {% else %}
          {% if not blog_category_id %}
          <div class="alert alert-info">
            <p>{{ text_empty_blog }}</p>
          </div>
          {% else %}
          <div class="alert alert-info">
            <p>{{ text_empty_category }}</p>
          </div>
          {% endif %}
        {% endif %}
      {% endif %}

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}