{{ header }}

{# Микроразметка Schema.org #}
{% if json_ld %}
    {% for key, ld_item in json_ld %}
    <script type="application/ld+json">
    {{ ld_item|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE') b-or constant('JSON_PRETTY_PRINT')) }}
    </script>
    {% endfor %}
{% endif %}

<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li>
      {% if breadcrumb.href %}
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      {% else %}
        {{ breadcrumb.text }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      
      {# Мета-информация для статей блога #}
      {% if date_added or viewed or reading_time %}
      <div class="blog-meta">
        {% if date_added %}
        <span><i class="fa fa-calendar"></i> {{ date_added }}</span>
        {% endif %}
        {% if viewed %}
        <span><i class="fa fa-eye"></i> {{ viewed }} {{ text_views }}</span>
        {% endif %}
        {% if reading_time %}
        <span><i class="fa fa-clock-o"></i> {{ reading_time }} {{ text_reading_time }}</span>
        {% endif %}
      </div>
      {% endif %}
      
      {# Авторы для статей блога #}
      {% if authors %}
      <div class="blog-authors">
        <h4>{{ text_authors }}:</h4>
        <div class="row">
          {% for author in authors %}
          <div class="col-sm-6">
            <div class="author-info">
              <div class="author-image">
                <img src="{{ author.image }}" alt="{{ author.name }}">
              </div>
              <div class="author-details">
                <h5>
                  <a href="{{ author.href }}">{{ author.name }}</a>
                  {% if author.is_primary %}<small>({{ text_primary_author }})</small>{% endif %}
                </h5>
                {% if author.job_title %}
                <p class="author-job">{{ author.job_title }}</p>
                {% endif %}
                {% if author.bio %}
                <p class="author-bio">{{ author.bio }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      
      <div class="information-content">
        {{ description }}
      </div>
      
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}