{{ header }}

{# Микроразметка Schema.org для статьи #}
{% if json_ld %}
    {% for ld_item in json_ld %}
    <script type="application/ld+json">
    {{ ld_item|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE'))|raw }}
    </script>
    {% endfor %}
{% endif %}

<div class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li>
      {% if breadcrumb.href %}
        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
      {% else %}
        {{ breadcrumb.text }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}
      <h1>{{ heading_title }}</h1>
      
      {# Мета-информация для статей блога #}
      {% if date_added or viewed or reading_time or authors %}
      <div class="blog-meta" style="margin: 20px 0; padding: 15px; background: #f8f8f8; border-radius: 5px;">
        {% if date_added %}
        <span style="margin-right: 20px;">
          <i class="fa fa-calendar"></i> {{ date_added }}
        </span>
        {% endif %}
        
        {% if viewed %}
        <span style="margin-right: 20px;">
          <i class="fa fa-eye"></i> {{ viewed }} {{ text_views }}
        </span>
        {% endif %}
        
        {% if reading_time %}
        <span style="margin-right: 20px;">
          <i class="fa fa-clock-o"></i> {{ reading_time }} {{ text_reading_time }}
        </span>
        {% endif %}
        
        {# Авторы статьи #}
        {% if authors %}
        <div style="margin-top: 10px;">
          <strong><i class="fa fa-users"></i> Авторы:</strong>
          {% for author in authors %}
          <span style="margin-left: 10px;">
            {% if author.href %}
            <a href="{{ author.href }}" title="{{ author.name }}">{{ author.name }}</a>
            {% else %}
            {{ author.name }}
            {% endif %}
            {% if author.job_title %}
            <small>({{ author.job_title }})</small>
            {% endif %}
          </span>
          {% if not loop.last %}, {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endif %}
      
      <div class="information-info">
        {{ description }}
      </div>
      
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}